.roadWrapper {
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  padding: 5vh 20vw;
}
.roadSecA {
   
  border-bottom: dotted 2px green;
  max-width: 100vw;
  height: 50vh;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
}
.roadItemA {
  width: 25vw;
  height: 50vh;
  background-color: rgb(114, 243, 157);
  border-left: dotted 2px green;
  border-right:dotted 2px green;
  border-bottom: dotted 2px green;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 5vh 1vw;
 color: rgb(36, 36, 36);
}
.roadSecB {
  background-color: white;
  max-width: 100vw;
  height: 50vh;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: stretch;
  align-content: stretch;
  border-bottom: dotted 2px green;
 
}
.roadItemB {
  width: 25vw;
  height: 50vh;
  background-color: rgb(114, 243, 157);
  border-left: dotted 2px green;
  border-right:dotted 2px green;
  border-bottom: dotted 2px green;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 5vh 1vw;
 color: rgb(36, 36, 36);
 
  
   
}
.roadHeader{
    max-width: 100%;
    height: 20vh;
    text-align: center;
}
.roadHeader h1{
    font-size: 4em;
    margin-top: 2vh;
    margin-bottom: 8vh;
}

@media only screen and (max-width: 768px) {
    .roadWrapper {
        max-width: 100vw;
        display: flex;
        flex-direction: column;
       padding: 2vh 2vw;
      }
      .roadSecA {
    
        border-bottom: dotted 2px green;
        max-width: 100vw;
        height: 40vh;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: stretch;
        align-content: stretch;
      }
      .roadItemA {
          
        width: 45vw;
        height: 40vh;
        background-color: rgb(114, 243, 157);
        border-left: dotted 2px green;
        border-right:dotted 2px green;
        border-bottom: dotted 2px green;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 5vh 1vw;
       color: rgb(36, 36, 36);
      }
      .roadSecB {
        background-color: white;
        max-width: 100vw;
        height: 40vh;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-end;
        align-items: stretch;
        align-content: stretch;
        border-bottom: dotted 2px green;
        
       
      }
      .roadItemB {
        
        width: 45vw;
        height: 40vh;
        background-color: rgb(114, 243, 157);
        border-left: dotted 2px green;
        border-right:dotted 2px green;
        border-bottom: dotted 2px green;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 5vh 1vw;
       color:rgb(36, 36, 36);
       
        
         
      }
      .roadHeader{
          max-width: 100vw;
          height: 20vh;
          text-align: center;
          
      }
      .roadHeader h1{
          font-size: 2.2em;
          margin-top: 5vh;
          margin-bottom: 8vh;
      }
}
