.projectsWrapper {
  padding-top: 2vh;
  padding-bottom: 5vh;
  max-width: 100vw;
  height: 100vh;
  background-color: white;
  display: flex;
flex-direction: column;
  justify-content: center;
  align-items: center;
}


.showProject {
  min-width: 80vw;
  height: 80vh;
  margin-top: 5vh;
  background-color: rgb(255, 255, 255);
  border: solid rgb(85, 224, 85) 4px;
  /* border-radius: 30px;
  box-shadow: 8px 10px 15px -5px rgb(58, 58, 58); */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5vh 5vw;
}
.projectsWrapper h1{
  font-size: 3em;
}
.projectsContent {
  height: 80%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.projectsButtons {
  width: 100%;
margin-top: 5vh;
  height: 10vh;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;
}
.projectsButtonssvg {
  font-size: 4em;
  cursor: pointer;
}
.arrowInvisible {
  display: none;
}


@media only screen and (max-width: 768px) {
  .projectsWrapper {
    max-width: 100vw;
    height: 100vh;
    background-color: white;
    display: flex;

    justify-content: center;
    align-items: center;
  }
  .showProject {
    min-width: 85vw;
    height: 60vh;
    /* background-color: rgb(224, 224, 224);
    box-shadow: 5px 12px 18px -6px rgb(58, 58, 58); */
    /* border-radius: 30px; */
  }
  .showProject svg {
    font-size: 2em;
   
  }
  .projectsWrapper h1{
    font-size: 1.5em;
  }
}
@media only screen and (min-width: 768px) and (max-width: 868px){
  .projectsWrapper {
    max-width: 100vw;
    height: 100vh;
    background-color: white;
    display: flex;

    justify-content: center;
    align-items: center;
  }
  .showProject {
    min-width: 85vw;
    height: 60vh;
    /* background-color: rgb(224, 224, 224);
    box-shadow: 5px 12px 18px -6px rgb(58, 58, 58); */
    /* border-radius: 30px; */
  }
  .showProject svg {
    font-size: 2em;
   
  }
  .projectsWrapper h1{
    font-size: 1.5em;
  }
}
