.contactWrapper {
  max-width: 100vw;
  background-color: rgb(20, 20, 20);
  text-align: center;
  color: rgb(42, 221, 57);
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
.contactWrapper h3 {
  font-size: 2em;
  color: white;
  text-align: center;
  padding-left: 2vw;
  padding-right: 2vw;
  margin-bottom: 2vh;
}
.contactWrapper h1 {
  font-size: 4em;
  margin-top: 5vh;
  margin-bottom: 8vh;
  text-transform: uppercase;
}
.contactContent {
  width: 95vw;
  min-height: 40vh;
  background-color: rgb(36, 36, 36);
  border-radius: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content:space-around;
  

  margin-top: 2vh;
  margin-bottom: 2vh;
}
.contactContent h2{
font-size: 3.5em;
color: rgb(42, 221, 57); ;
}
.contactContentB {
  width: 95vw;
  height: 30vh;
  background-color: rgb(36, 36, 36);
  border-radius: 20px;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  
  margin-top: 2vh;
}
.contactItemB {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 100%;
 
  
}
.contactContentB svg {
  font-size: 3em;
  margin-left: 1vw;
}
.contactItem {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 3em;
}
.contactItem svg {
  font-size: 3em;
  margin-left: 1vw;
}
.contactItem h3 {
  font-size: 4em;
  margin-left: 2vw;
}
.contactItem p {
  font-size: 2em;
  margin-left: 3vw;
}
.contactItemfb {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 3em;
}
.contactItemfb svg {
  font-size: 3em;
  margin-left: 1vw;
}
.contactItemfb h3 {
  font-size: 4em;
  margin-left: 2vw;
}
.contactItemfb p {
  font-size: 2em;
  margin-left: 3vw;
}
.contactItemfb a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 3em;
  text-decoration: none;
  color: white;
  transition: 0.5s ease-in-out;
}
.contactItemfb a:hover {
  color: rgb(42, 221, 57);
  transition: 0.5s ease-in-out;
}
.fb {
  display: none;
}

@media only screen and (max-width: 768px) {
  .contactWrapper {
    max-width: 100vw;
    background-color: rgb(20, 20, 20);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    color: rgb(42, 221, 57);
  }
  .contactWrapper h1 {
    font-size: 1.9em;
    margin-bottom: 0.5vh;
  }
  .contactWrapper h3 {
    font-size: 1.1em;
    color: white;
    text-align: center;
    padding-left: 2vw;
    padding-right: 2vw;
    margin-bottom: 1vh;
  }
  .contactItem {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5vh;
    padding: 1em;
  }
  .contactContent h2{
    font-size: 1.5em;
    color: rgb(42, 221, 57); ;
    }
  .contactItemB {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    height: 100%;
    width: 100%;
  }
  .contactContent {
    width: 95vw;
    height: 40vh;
    background-color: rgb(36, 36, 36);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .contactItem svg {
    font-size: 2em;
  }
  .contactItem h3 {
    font-size: 1.1em;
  }
  .contactItem p {
    font-size: 1.1em;
  }
  .contactItemfb {
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5vh;
    padding: 1em;
  }
  .contactItemfb svg {
    font-size: 2em;
    display: none;
  }
  .contactItemfb h3 {
    font-size: 1.1em;
    display: none;
  }
  .contactItemfb p {
    font-size: 1.1em;
    display: none;
  }
  .fb {
    max-width: 100vw;
    padding: 1vh 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .contactContentB {
    width: 95vw;
    height: 40vh;
    background-color: rgb(36, 36, 36);
    border-radius: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 0;

    margin-top: 2vh;
  }
  .contactContentB svg {
    font-size: 4em;
  }
}
@media only screen and (min-width: 768px) and (max-width: 868px) {
  .contactWrapper {
    max-width: 100vw;
    
    background-color: rgb(20, 20, 20);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    color: rgb(42, 221, 57);
  }
  .contactWrapper h1 {
    font-size: 1.7em;
    margin-bottom: 6vh;
  }
  .contactWrapper h3 {
    font-size: 1.3em;
    color: white;
    text-align: center;
    padding-left: 2vw;
    padding-right: 2vw;
    margin-bottom: 2vh;
  }
  .contactItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1em;
  }
  .contactContent {
    width: 80vw;
    height: 40vh;
    background-color: rgb(36, 36, 36);
    border-radius: 20px;
    padding-top: 6vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .contactItem svg {
    font-size: 2em;
    margin-bottom: 3vw;
  }
  .contactItem h3 {
    font-size: 1.3em;
    margin-top: 2vw;
  }
  .contactItem p {
    font-size: 1.1em;
  }
  .contactItemfb {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5vh;
    padding: 1em;
  }
  .contactItemfb svg {
    font-size: 2em;
  }
  .contactItemfb h3 {
    font-size: 1.1em;
  }
  .contactItemfb p {
    font-size: 1.1em;
  }
  .fb {
    opacity: 0;
    max-width: 80vw;
    padding: 1vh 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .contactContentB {
    width: 80vw;
    height: 40vh;
    background-color: rgb(36, 36, 36);
    border-radius: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 0;

    margin-top: 2vh;
  }
  .contactContentB svg {
    font-size: 4em;
  }
  .contactContentB svg {
    font-size: 3em;
    margin-left: 1vw;
  }
}
